body{font-family:'ProximaNovaRegular_0',Arial, Helvetica, sans-serif; color:#5e5e5e; font-size:16px;}
a{color:#f6891b}
a:hover{color:#f6891b}
.select-city{margin-top:15px; width:130px; float:right}
.logo{float:left}
h1,h2,h3,h4,h5{font-family:'ProximaNovaSemibold',Arial, Helvetica, sans-serif;}
p{margin-bottom:25px;}
.mwt_nav{padding-top:20px;}
.mwt_nav .navbar-brand{padding:0; display:none}
.mwt_nav .navbar-default{border:none; box-shadow:none; background:none}
.mwt_nav .navbar{margin:0; min-height:inherit}
.mwt_nav .nav > li > a{padding:0 8px; background:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; font-family:'ProximaNovaSemibold',Arial, Helvetica, sans-serif; outline:none}
.mwt_nav .navbar-default .navbar-nav > .active > a,.mwt_nav .nav > li > a:hover{color:#ff892d; box-shadow:none; background:none}
.mwt_nav .navbar-collapse{    padding-right: 0;    padding-left: 0;}

.cart-div{display:inline-block; background:url(../images/icon-cart.jpg) no-repeat; height:20px; width:27px; text-align:center; color:#fff; line-height:15px; font-size:10px; margin-top:21px;}
a.sign-in-div{text-transform:uppercase; font-size:13px; color:#a1a1a1; margin-left:10px; text-decoration:none}
a.sign-in-div img{-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;}
.language-btn{padding:0; float:right; border:none; margin-top:18px; color:#a1a1a1;}

.page-path-div{background:#f8f9fb; margin-bottom:25px; font-size:13px; color:#323234; border-bottom:1px solid #e7e7e7; border-top:1px solid #e7e7e7; padding:5px 0; font-family:'ProximaNovaSemibold',Arial, Helvetica, sans-serif;}
.page-path-div .glyphicon{font-size:10px;}
.page-path-div a{color:#323234; text-decoration:none}
.page-path-div span.current{color:#f09e48}
.top-tab{ border-bottom:1px solid #efefef; font-family:'ProximaNovaSemibold',Arial, Helvetica, sans-serif;}
.top-tab ul{margin:0; padding:0; list-style:none}
.top-tab li{float:left}
.top-tab li a{display:block; line-height:35px; color:#555555; text-decoration:none; padding:0 20px; border-right:1px solid #efefef}
.top-tab li a span{color:#f09e48}
.top-tab li.active a,.top-tab li:hover a{background:url(../images/tab-h-img.jpg) repeat-x left bottom}

.right-search{position:relative; text-align:right}
.right-search button{position:absolute; right:0; background:none; border:none; padding:3px; top:0}
.right-search input{border:none; text-align:right; padding-right:25px; color:#585858; text-transform:uppercase; width:100%;}
.side-bar-div{margin-right:-25px; font-family:'ProximaNovaSemibold',Arial, Helvetica, sans-serif;}
.side-bar-div h3{margin:0; padding:25px 0 10px 0;}
.cat-links{margin:0; padding:0; list-style:none; }
.cat-links li a{font-size:14px; color:#333; border-bottom:1px solid #eaeaea; padding:10px 0; display:block; text-decoration:none}
.cat-links li.active a,.cat-links li a:hover{color:#f6871a}
.cat-links li a span{color:#b7b7b7}

.our-expert{margin:0; padding:0; list-style:none; margin:0 -5px;}
.our-expert li{float:left; text-align:center; margin-bottom:20px; padding:0 5px; width:50%; font-size:11px; }
.our-expert li h4{font-size:14px;margin:10px 0 0 0; padding:0; color:#333; text-transform:uppercase;}
.our-expert .img-div{-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%; overflow:hidden; display:inline-block; position:relative; border:3px solid #fff;}
.our-expert .img-div img{max-width:100%; height:auto}
.our-expert li.active .img-div,.our-expert li:hover .img-div{border:3px solid #f6871a; }
.our-expert li .link{position:absolute; width:100%; height:100%; background:url(../images/open-eye.png) no-repeat center center rgba(0,0,0,.3); left:0; top:0; display:none}
.our-expert li.active .link,.our-expert li:hover .link{display:block}


a.view-all-btn{color:#f6871a; text-align:center; display:block; text-decoration:none}
.view-all-btn .glyphicon{font-size:8px; line-height:22px; margin-bottom:25px;}

.tags-div{border-top:1px solid #eaeaea;}
.tags-div a{display:inline-block; border:1px solid #e0e0e0; padding:3px 5px; margin-bottom:10px; margin-right:5px; color:#5e5e5e; text-decoration:none}
.tags-div a .glyphicon{font-size:10px;}

.tags-div a.active,.tags-div a:hover{color:#fff; background:#f6871a;-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.right-content{padding-top:25px; padding-left:30px;     border-left: 1px solid #efefef;
    margin-left: 21px;}
.blog-post-title{margin:0; padding:0; font-size:30px; color:#505050;}
.blog-post-title span{display:block; color:#999999; font-size:16px;}

.post-tag-text{ padding:10px 0}
.post-tag-text a{display:inline-block; border:1px solid #e0e0e0; padding:3px 5px; margin-bottom:10px; margin-right:5px; color:#5e5e5e; text-decoration:none}
.post-tag-text a .glyphicon{font-size:10px;}
.share-this-div{text-align:right}
.share-this-div a{padding-left:5px;}
.b-post-author{border-bottom:1px dashed #cfcfcf; border-top:1px dashed #cfcfcf; padding:15px 0; margin-bottom:25px;}
.b-post-author .media{display:inline-block; float:left; width:200px;}
.email-phone-n{display:inline-block; vertical-align:middle; margin-top:5px; border-left:1px solid #e3e3e3; padding-left:15px;}
.email-phone-n a{color:#f47d17}
.email-phone-n p{margin:0}
.b-post-author .media h4{margin:10px 0 0 0}
img{max-width:100%; height:auto}

.list01{margin:0; padding:0; list-style:none}
.list01 li{margin-bottom:15px; background:url(../images/icon-01.png) no-repeat left top; padding-left:25px; font-family:'ProximaNovaSemibold',Arial, Helvetica, sans-serif; color:#333333}

.comments-div{ border-top:1px solid #e0e0e0; margin-top:25px;}
.comments-div h3{margin:0; padding:25px 0 10px 0}
.comments-div .media{border-bottom:1px solid #f2f2f2; padding-bottom:25px; margin-bottom:25px;}
.comments-div h4{font-size:16px;}
.comments-div h4 span{ font-size:14px; padding-left:15px; font-family:'ProximaNovaRegular_0',Arial, Helvetica, sans-serif; }
.comments-div .media .pull-left img{-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;}
.load-more-div{display:block; text-align:center; margin-bottom:35px;}
.load-more-div a{display:inline-block; padding:5px 20px; border:1px solid #e0e0e0; color:#5e5e5e; text-decoration:none;}


.leavereply-div{background:#f8f8f8; padding:25px 20px; margin-bottom:50px; border:1px solid #e9e9e9; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.leavereply-div .form-control{height:40px;}
.leavereply-div textarea.form-control{height:120px;}
.post-button{text-align:right}
.btn-orange{background:#f47d17; color:#fff; height:40px; line-height:25px; font-family:'ProximaNovaSemibold',Arial, Helvetica, sans-serif;  width:250px;}

.footer-div{background:#e9e9e9; padding:25px 0; font-family:'ProximaNovaRegular_0',Arial, Helvetica, sans-serif; font-size:14px;}
.footer-div p{margin:0 0 10px 0}
.footer-div strong{display:block; color:#333;}

.footer-div h5{font-size:16px; color:#333}
.footer-div ul{margin:0; padding:0; list-style:none}
.footer-div ul li a{color:#6d6d6d; line-height:22px; text-decoration:none}
.footer-social-icon a{padding:0 3px;}
.footer-div  table td{padding-bottom:5px;}



@media (max-width: 1199px) {
   .select-city{width:100%; margin-top:0; margin-bottom:10px}
   .top-tab li a{padding:0 12px;}
}

@media (max-width: 991px) {
	header{padding-bottom:15px;}
	.language-btn,.cart-div{margin-top:10px;}
	.top-tab li a{font-size:15px;}
	.logo-div{text-align:center}
	.logo,.select-city{float:none}
	.select-city{margin-bottom:0} 
}

@media (max-width: 767px) {
	.right-search{float:none; margin:10px 0}
	.mwt_nav .navbar-collapse{    padding-right: 15px;    padding-left: 15px;}
	.mwt_nav .navbar-brand{display:inline-block; padding:15px;}
	.col-md-3.pull-left,.col-md-9.pull-right{float:none !important;}
	.right-content{padding-left:0; margin-left:0; border:none}
	.side-bar-div{margin-right:0}
	.btn-orange{width:200px;}
	.right-search input{text-align:left}
	.blog-post-title{font-size:22px;}
	.share-this-div{padding-top:10px;}
	.mwt_nav{padding-top:0}
}