.header02 .right01 li {
  display: inline-block;
  margin-top: 17px;
  padding-left: 12px;
  padding-right: 12px;
}
.header02 .right01 li.active a {
  border-bottom: 2px solid #f57d18;
  color: #f57d18;
}
.header02 .right01 li a {
  display: block;
  cursor: pointer;
  font-size: 18px;
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif;
  color: #616161;
  background: white;
  border: none;
  position: relative;
  top: 2px;
}
.header02 .right01 li a:hover {
  color: #d76707;
}

.list04 {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.list04 li {
  margin-bottom: 20px;
  float: left;
}
.list04 li .boxbrdr {
  width: 221px;
  border: 1px solid #dddddd;
  transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
}
.list04 li .boxbrdr .detailbox {
  padding: 10px 20px 10px 20px;
}
.list04 li .boxbrdr .detailbox label {
  font-size: 19px;
  font-family: "proxima_nova_rgbold", Helvetica, Arial, sans-serif;
  margin: 0px;
  color: #333333;
}
.list04 li .boxbrdr .detailbox label.custom-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list04 li .boxbrdr .detailbox p {
  margin: 0px 0px 6px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list04 li .boxbrdr .detailbox .detail_view {
  margin-bottom: 8px;
  margin-top: 8px;
  color: #f47d17;
  font-size: 19px;
  font-family: "proxima_nova_rgbold", Helvetica, Arial, sans-serif;
}
.list04 li .boxbrdr .detailbox .map-marker {
  margin: 10px 0px 6px 0px;
  padding-right: 8px;
  color: #949494;
  font-size: 13px;
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif;
  display: block;
  white-space: nowrap;
}
.list04 li .boxbrdr .detailbox .map-marker::before {
  margin-right: 5px;
  font-size: 13px;
  color: #949494;
  content: "\f041";
  float: left;
}
.list04 li .boxbrdr .detailbox .map-marker span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}
.list04 li .boxbrdr .detailbrd {
  border-top: 1px solid #dddddd;
  padding: 10px 12px;
}
.list04 li .boxbrdr .detailbrd .btn-fullwidth {
  width: 100%;
  font-size: 12px;
}
.list04 li .boxbrdr figure {
  position: relative;
  z-index: 1;
  max-height: 151px;
  overflow: hidden;
}
.list04 li .boxbrdr figure img {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
}
.list04 li .boxbrdr figure .delete {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  padding: 6px 8px;
}
.list04 li .boxbrdr figure .delete::before {
  color: white;
  font-size: 19px;
  content: "\f1f8";
}
.list04 li .boxbrdr figure .delete:hover::before {
  color: #f57d18;
}
.list04 li .boxbrdr figure .price04 {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 10px;
  padding: 3px 6px 0;
  background: rgba(238, 81, 40, 0.9);
  color: white;
  font-size: 16px;
  font-family: "proxima_nova_rgbold", Helvetica, Arial, sans-serif, Helvetica, Arial, sans-serif;
}
.list04 li .boxbrdr figure .price04.rs {
  color: white;
  float: left;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 1px;
}
.list04 li .boxbrdr figure .price04.rs:before {
  color: white;
  margin-right: 5px;
  font-size: 14px;
}
.list04 li:hover .boxbrdr {
  border: 1px solid #b4b4b4;
  background: #fafafa;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.list04 li:hover figure .delete::before {
  color: #cecece;
  content: "\f1f8";
}

/*
 * jquery.selectBoxIt.css 3.8.1
 * Author: @gregfranko
 */
/* 
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/
/* SelectBoxIt container */
.selectboxit-container {
  position: relative;
  display: block;
  vertical-align: top;
  background: white;
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
  width: 100% !important;
  /* Width of the dropdown button */
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  position: relative;
}

.selectboxit-text, .selectboxit-arrow-container {
  height: 50px;
  /* Height of the drop down */
  line-height: 50px;
  /* Vertically positions the drop down text */
  display: block;
}

/* Height and Vertical Alignment of Text */
.selectboxit-container .selectboxit-options a {
  height: 30px;
  /* Height of the drop down */
  line-height: 30px;
  /* Vertically positions the drop down text */
  display: block;
  -webkit-transition: all ease-out 0s;
  -o-transition: all ease-out 0s;
  transition: all ease-out 0s;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* Button Text */
.selectboxit-text {
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  width: 100%;
  padding: 0 25px 0 15px;
  color: #777777;
}

.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px;
  float: left;
  width: 100%;
}

/* Options List */
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100% !important;
  /* Minimum Width of the dropdown list box options */
  width: 165px;
  max-height: 240px;
  margin: 0;
  padding: 5px;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Individual options */
.selectboxit-option .selectboxit-option-anchor {
  padding: 0 2px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
  font-size: 13px !important;
  text-indent: 5px;
  /* Horizontal Positioning of the select box option text */
  margin: 0;
  list-style-type: none;
}

/* The first Drop Down option */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
  color: #f47d17;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  display: block;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 30px;
  position: absolute;
  right: 0;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
  float: left;
}

.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}

.selectboxit-rendering {
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid #777777;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.selectboxit-list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.selectboxit-list .selectboxit-option-anchor {
  color: #333333;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  background-color: #d2d2d2;
  background-image: none;
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif;
}

.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
  color: #999999;
}

.form-group .selectboxit-container .selectboxit-options {
  width: 100%;
}
.form-group .selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  top: 47%;
  right: 3px;
  left: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 5px solid #777777;
  pointer-events: none;
}
.form-group .selectboxit-text, .form-group .selectboxit-arrow-container {
  height: 41px;
  line-height: 41px;
}
.form-group .selectboxit-text {
  padding: 0 25px 0 5px;
}

.form-pst-requirement .form-group > .selectboxit-container {
  border: 1px solid #ccc;
}

.agents-wrap h1 {
  font: 28px "proxima_novasemibold", Helvetica, Arial, sans-serif;
  color: #555555;
}
.agents-wrap h2 {
  font: 25px "proxima_novasemibold", Helvetica, Arial, sans-serif;
  margin: 5px 0 10px !important;
  padding: 0;
  text-align: left;
  color: #555555;
}
.agents-wrap h3 {
  font: 19px "proxima_novasemibold", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #555555;
}

.agents-listing .filter-agents {
  margin-top: 15px;
}
.agents-listing .ad {
  margin-top: 15px;
}
.agents-listing .agents-results {
  margin-top: 15px;
}
.agents-listing .agents-results .agents-bx {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 2px 2px 2px #eeeeee;
  box-shadow: 2px 2px 2px #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  display: block;
  position: relative;
  color: #777777 !important;
}
.agents-listing .agents-results .agents-bx:hover {
  border: 1px solid #f47d17;
  -webkit-box-shadow: 2px 2px 2px rgba(244, 125, 23, 0.3);
  box-shadow: 2px 2px 2px rgba(244, 125, 23, 0.3);
}
.agents-listing .agents-results .agents-bx.premium::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 79px;
}
.agents-listing .agents-results .agents-bx img {
  width: 100%;
}
.agents-listing .agents-results .agents-bx .col-left-sm {
  padding-left: 5px;
}
.agents-listing .agents-results .agents-bx .agent-name {
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif;
  color: #f47d17;
}
.agents-listing .agents-results .agents-bx .agent-name span {
  color: #777777;
}
.agents-listing .agents-results .agents-bx .agent_pic {
  position: absolute;
  left: 15px;
}
.agents-listing .agents-results .agents-bx .agent_pic figure {
  width: 79px;
  height: 79px;
}
.agents-listing .agents-results .agents-bx .agent_details {
  margin-left: 109px;
}
.agents-listing .form-control {
  border-color: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.agents-listing .btn-search {
  margin-top: 0;
  height: 42px;
}
.agents-listing .btn-search::before {
  content: "\f002";
  color: white;
  font-size: 20px;
}

.btn {
  width: 100%;
  margin-top: 20px;
  font: 14px "proxima_novasemibold", Helvetica, Arial, sans-serif;
}

.agent-details-ul {
  margin-top: 10px;
  margin-bottom: 0;
}
.agent-details-ul li a {
  color: #555555;
}
.agent-details-ul span {
  display: block;
  font: 18px "proxima_novasemibold", Helvetica, Arial, sans-serif;
  color: #555555;
}
.agent-details-ul .big-col-4 {
  width: 37%;
}

.agent-details .agent-details-top figure {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0;
}
.agent-details .agent-details-top .type-details {
  padding: 10px 20px;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  border-left: 1px solid #eeeeee;
}
.agent-details .agent-details-top .type-details li span {
  color: #777777;
}
.agent-details .agent-details-top .agent-details-ul {
  margin-bottom: 15px;
  color: #555555;
}
.agent-details .agent-details-top .agent-details-ul li {
  border-left: 1px solid #eeeeee;
  padding-left: 25px;
  color: #777777;
}
.agent-details .agent-details-top .agent-details-ul li:first-child {
  border: 0;
}
.agent-details .agent-details-top .agent-details-ul li span {
  display: block;
  font: 22px "proxima_novasemibold", Helvetica, Arial, sans-serif;
  color: #f47d17;
}
.agent-details .agent-details-top .agent-address {
  margin-top: 10px;
  font: 14px "proxima_novasemibold", Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 1.6;
}
.agent-details hr {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
  margin: 0 0 30px;
  height: 3px;
}
.agent-details p {
  font-size: 16px;
  color: #555555;
}
.agent-details .contact-agent {
  background: #f8f8f8;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin: 90px 0 60px;
}
.agent-details .contact-agent figure {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.agent-details .contact-agent .agent-name {
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #555555;
  display: inline-block;
  vertical-align: bottom;
}
.agent-details .contact-agent .agent-name span {
  display: block;
  color: #777777;
  font-size: 14px;
}
.agent-details .contact-agent .agent-info {
  margin-bottom: 20px;
}
.agent-details .contact-agent .form-control {
  padding: 5px 12px;
  font-size: 13px;
  height: 35px;
}
.agent-details .contact-agent textarea.form-control {
  height: auto;
}
.agent-details .contact-agent .captcha-img {
  background: white;
  height: 35px;
  padding: 5px;
}
.agent-details .contact-agent .captcha-btn {
  width: 26px;
  height: 26px;
}
.agent-details .contact-agent .btn {
  height: 35px;
  margin-top: 0;
}

.captcha_pic {
  padding-left: 0px;
}

.project-tab {
  margin: 25px 0 10px;
  border-bottom: 1px solid #d9d9d9;
}
.project-tab:before, .project-tab:after {
  content: " ";
  display: table;
}
.project-tab:after {
  clear: both;
}
.project-tab li {
  display: inline-block;
  border-right: 1px solid #d9d9d9;
  float: left;
  margin-bottom: -1px;
  border-bottom: 1px solid #d9d9d9;
}
.project-tab li:last-child {
  border: 0;
}
.project-tab li a {
  padding: 10px 20px 8px;
  display: inline-block;
  font-size: 20px;
  font-family: "proxima_novasemibold", Helvetica, Arial, sans-serif;
  color: #777777;
  border-bottom: 3px solid white;
  -webkit-transition: all ease-out 0s;
  -o-transition: all ease-out 0s;
  transition: all ease-out 0s;
  outline: none;
}
.project-tab li a span {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  color: #777777;
}
.project-tab li.active a {
  font-weight: 700;
  color: #555555;
  border-bottom: 3px solid #f47d17;
}
.project-tab li.active a span {
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #777777;
}
